<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.ljy.maven_github_ssm.dao.AdminDao">
    <!-- parameterType表示要传入的参数的类型 ，resultType表示要返回的数据的类型-->

    <!-- 处理登录操作 -->
    <select id="login"  resultType="Admin">
        select * from admin where username=#{username} and password=#{password}
    </select>

    <delete id="delete" >
        delete from admin where id=#{id}
    </delete>

    <select id="get"  resultType="Admin">
        select * from admin where id=#{id}
    </select>

    <insert id="add">
          insert into admin(id,username,password,name)
          values(null,#{username},#{password},#{name})
    </insert>

    <select id="readAll" resultType="Admin">
        select * from admin order by id asc
    </select>

    <select id="countAdminByUsername"  resultType="int">
        select count(id) from admin where username=#{username}
    </select>

    <update id="update" parameterType="Admin">
        update admin
        <!-- 使用set标签可以将动态的配置SET 关键字，和剔除追加到条件末尾的任何不相关的逗号。 -->
        <set>
            <if test="username!=null and username.length()>0">username=#{username},</if>
            <if test="name!=null and name.length()>0">name=#{name},</if>
            <if test="password!=null and password.length()>0">password=#{password},</if>
        </set>
        where id=#{id}
    </update>
</mapper>